{% extends "page/checkout/payment.html.twig" %}

{% block select_payment %}
    {% if attribute(oViewConf, 'isMolliePayPalExpressCheckout') is defined and oViewConf.isMolliePayPalExpressCheckout() is same as(true) %}
        {% if mollieSelectPaymentFirst is same as(true) %}{#set in block change_payment#}
            <input type="radio" name="paymentid" value="{{ oView.mollieGetPayPalExpressPaymentId() }}" checked style="display:none;">
            {% set mollieSelectPaymentFirst = false %}
        {% endif %}
    {% else %}
        {% if attribute(paymentmethod, 'isMolliePaymentMethod') is defined and paymentmethod.isMolliePaymentMethod() is same as(true) %}
            {% set paymentModel = paymentmethod.getMolliePaymentModel() %}
            {% if (attribute(oViewConf, 'mollieShowIcons') is defined and oViewConf.mollieShowIcons is same as(true))
                or (paymentModel and paymentModel.getCustomFrontendTemplate is not same as(false)) %}
                {% include "@molliepayment/frontend/mollie_payment_custom.html.twig" %}
            {% else %}
                {% include "page/checkout/inc/payment_other.html.twig" %}
            {% endif %}
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block checkout_payment_errors %}
    {{ parent() }}

    {% if oView.getPaymentError() == -50 %}
        <div class="alert alert-danger">{{ oView.getPaymentErrorText() }}</div>
    {% endif %}
{% endblock %}

{% block change_payment %}
    {% if attribute(oViewConf, 'isMolliePayPalExpressCheckout') is defined and oViewConf.isMolliePayPalExpressCheckout() is same as(true) %}
        <h2 class="h4 card-header card-title">{{ translate({ ident: "MOLLIE_PAYPAL_EXPRESS" }) }}</h2>
        <div class="card-body">
            {{ translate({ ident: "MOLLIE_PAYPAL_EXPRESS_INFO" }) }}
            <div class="mt-3">
                <a class="btn btn-outline-primary" href="{{ oView.getMolliePayPaylExpressCheckoutCancelUrl() }}">{{ translate({ ident: "MOLLIE_PAYPAL_EXPRESS_UNLINK" }) }}</a>
            </div>
        </div>
        {% set mollieSelectPaymentFirst = true %}{# used in mollie_select_payment.tpl #}
        {% set mollie_hide_paymentlist %}
            $(function () {
                $('#payment.payment').hide();
            });
        {% endset %}
        {{ script({ add: mollie_hide_paymentlist.__toString(), priority: 10, dynamic: __oxid_include_dynamic }) }}
    {% endif %}
    {{ parent() }}
{% endblock %}
