{% extends "payment_main.html.twig" %}

{% block admin_payment_main_form %}
    {% if edit is not null and edit.isMolliePaymentMethod() == 1 %}
        {% set paymentModel = edit.getMolliePaymentModel() %}
        <tr>
            <td class="edittext" colspan="2">
                {% if paymentModel.isMethodDeprecated() is same as(false) %}
                    <b>{{ translate({ ident: "MOLLIE_IS_MOLLIE" }) }}</b>
                {% else %}
                    <script type="text/javascript">
                        function handleDeprecatedMethod() {
                            let checkboxes = document.getElementsByName("editval[oxpayments__oxactive]");
                            if (checkboxes.length > 0) {
                                checkboxes[0].checked = false;
                                checkboxes[0].disabled = true;
                            }
                        }
                        setTimeout(handleDeprecatedMethod, 100);
                    </script>
                    <b style="color: red;">{{ translate({ ident: "MOLLIE_PAYMENT_DISABLED_ACTIVATION" }) }}</b>
                {% endif %}
            </td>
        </tr>
        {% if attribute(oView, 'mollieIsTokenConfigured') is defined and oView.mollieIsTokenConfigured is same as(false) %}
            <tr>
                <td class="edittext" colspan="2">
                    <b style="color: red;">{{ translate({ ident: "MOLLIE_TOKEN_NOT_CONFIGURED" }) }}</b>
                </td>
            </tr>
        {% elseif paymentModel.isMolliePaymentActiveInGeneral() is same as(false) %}
            <tr>
                <td class="edittext" colspan="2">
                    <b style="color: red;">{{ translate({ ident: "MOLLIE_IS_METHOD_ACTIVATED" }) }}</b>
                </td>
            </tr>
        {% endif %}
        <tr>
            <td class="edittext" width="70">
                {{ translate({ ident: "MOLLIE_PAYMENT_DESCRIPTION" }) }}
            </td>
            <td class="edittext">
                <input type="text" class="editinput" size="25" name="mollie[payment_description]" value="{{ paymentModel.getConfigParam('payment_description') }}" {{ readonly }}>
                {% include "inputhelp.html.twig" with {'sHelpId': help_id("MOLLIE_PAYMENT_DESCRIPTION_HELP"), 'sHelpText': help_text("MOLLIE_PAYMENT_DESCRIPTION_HELP")} %}
            </td>
        </tr>
        {% if paymentModel.isOrderExpirySupported() is same as(true) %}
            <tr>
                <td class="edittext" width="70">
                    {{ translate({ ident: "MOLLIE_ORDER_EXPIRY" }) }}
                </td>
                <td class="edittext">
                    <select name="mollie[expiryDays]" {{ readonly }}>
                        {% for days, title in oView.mollieGetExpiryDayOptions() %}
                            <option value="{{ days }}" {% if paymentModel.getExpiryDays() == days %}selected{% endif %}>{{ title }}</option>
                        {% endfor %}
                    </select>
                    {% include "inputhelp.html.twig" with {'sHelpId': help_id("MOLLIE_ORDER_EXPIRY_HELP"), 'sHelpText': help_text("MOLLIE_ORDER_EXPIRY_HELP")} %}
                </td>
            </tr>
        {% endif %}
        {% if paymentModel.getAvailableCaptureMethods() is not empty %}
            <tr>
                <td class="edittext" width="70">
                    {{ translate({ ident: "MOLLIE_CAPTURE_METHOD" }) }}
                </td>
                <td  class="edittext" width="150">
                    <script type="text/javascript">
                        <!--
                        function mollieHandleCaptureMethodChange(oSelect)
                        {
                            {% if 'automatic_capture' in paymentModel.getAvailableCaptureMethods() %}
                                let oDaysRow = document.getElementById('mollieAutomaticCaptureDays');
                                let sDisplay = 'none';
                                if (oSelect.value === 'automatic_capture') {
                                    sDisplay = '';
                                }
                                oDaysRow.style.display = sDisplay;
                            {% endif %}
                        }
                        -->
                    </script>
                    <select id="mollieSelectCaptureMethod" name="mollie[capture_method]" style="width:177px;" onchange="mollieHandleCaptureMethodChange(this)" {{ readonly }}>
                        {% for captureMode in paymentModel.getAvailableCaptureMethods() %}
                            <option value="{{ captureMode }}" {% if paymentModel.getConfigParam('capture_method') == captureMode %}selected{% endif %}>{{ translate({ ident: "MOLLIE_" ~ captureMode|upper }) }}</option>
                        {% endfor %}
                    </select>
                    {% include "inputhelp.html.twig" with {'sHelpId': help_id("MOLLIE_CAPTURE_METHOD_HELP"), 'sHelpText': help_text("MOLLIE_CAPTURE_METHOD_HELP")} %}
                </td>
            </tr>
            {% if 'automatic_capture' in paymentModel.getAvailableCaptureMethods() %}
                <tr id="mollieAutomaticCaptureDays" {% if paymentModel.getConfigParam('capture_method') != 'automatic_capture' %}style="display:none;"{% endif %}>
                    <td class="edittext" width="70">
                        {{ translate({ ident: "MOLLIE_CAPTURE_DAYS" }) }}
                    </td>
                    <td class="edittext">
                        <select name="mollie[captureDays]" {{ readonly }}>
                            {% for days, title in oView.mollieGetAutomaticCaptureDays() %}
                                <option value="{{ days }}" {% if paymentModel.getCaptureDays() == days %}selected{% endif %}>{{ title }}</option>
                            {% endfor %}
                        </select>
                        {% include "inputhelp.html.twig" with {'sHelpId': help_id("MOLLIE_CAPTURE_DAYS_HELP"), 'sHelpText': help_text("MOLLIE_CAPTURE_DAYS_HELP")} %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        {% if paymentModel.getCustomConfigTemplate() is not empty %}
            {% include paymentModel.getCustomConfigTemplate() %}
        {% endif %}
        <tr>
            <td class="edittext" colspan="2">
                &nbsp;<div style="display: none;" id="mollie_payment_min_max">
                    {% set oFrom = paymentModel.getMollieFromAmount() %}
                    {% set oTo = paymentModel.getMollieToAmount() %}
                    {% if oFrom %}<br>
                            {{ translate({ ident: "MOLLIE_PAYMENT_LIMITATION" }) }}:<br>
                            {{ translate({ ident: "MOLLIE_PAYMENT_LIMITATION_FROM" }) }} {{ oFrom.value }}  {{ oFrom.currency }} {{ translate({ ident: "MOLLIE_PAYMENT_LIMITATION_TO" }) }}
                        {% if oTo is not same as(false) %}
                            {{ oTo.value }} {{ oTo.currency }}
                        {% else %}
                            {{ translate({ ident: "MOLLIE_PAYMENT_LIMITATION_UNLIMITED" }) }}
                        {% endif %}
                    {% endif %}
                </div>
                <script>
                    function appendMinMaxInfo() {
                        var minMaxInfo = document.getElementById("mollie_payment_min_max");
                        var clone = minMaxInfo.cloneNode(true);
                        clone.style.display = "";
                        document.getElementById("helpText_HELP_PAYMENT_MAIN_AMOUNT").parentNode.appendChild(clone);
                    }
                    setTimeout(appendMinMaxInfo, 100);
                </script>
            </td>
        </tr>
    {% endif %}
    {{ parent() }}
{% endblock %}