<tr>
    <td class="edittext" width="100">
        {{ translate({ ident: "MOLLIE_BANKTRANSFER_PENDING" }) }}
    </td>
    <td class="edittext">
        <select name="mollie[pending_status]" {{ readonly }}>
            {% for sFolder, sColor in oView.mollieGetOrderFolders() %}
                <option value="{{ sFolder }}" {% if paymentModel.getConfigParam('pending_status') == sFolder  %}selected{% endif %}>{{ translate({ ident: sFolder, noerror: true }) }}</option>
            {% endfor %}
        </select>
    </td>
</tr>
<tr>
    <td class="edittext" width="100">
        {{ translate({ ident: "MOLLIE_DUE_DATE" }) }}
    </td>
    <td class="edittext">
        <input type="text" class="editinput" size="25" maxlength="10" name="mollie[due_days]" value="{{ paymentModel.getConfigParam('due_days') }}" {{ readonly }}>
    </td>
</tr>
